<%= @products.each do |product| %>
	<h3><%= product.title %></h3>
<% end %>

    <div class="one-third column">
    	<h3>TORNADO</h3>
			<p>
				<img src="assets/carusel/type1.jpeg" alt="type1">
			</p>
		</div>

		<div class="one-third column">
			<h3>CLASSIC</h3>
			<p>
				<img src="assets/carusel/type2.jpeg" alt="type2">
			</p>
		</div>
		<div class="one-third column">
			<h3>ROMANTIC</h3>
			<p>
				<img src="assets/carusel/type3.jpeg" alt="type3">
			</p>
		</div>